/* Media Queries Mixin
**********************/
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 0;
  color: #060A24;
  letter-spacing: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media only screen and (max-width: 320px) {
  .container {
    min-width: 320px;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.logo {
  margin-left: 100px;
}
.logo img {
  width: 36px;
  height: 36px;
}
.logo i {
  display: none;
}

.nav--header {
  margin-right: 52px;
}
.nav--header li {
  display: inline-block;
  width: 87px;
  height: 28px;
  margin-right: 48px;
}
.nav--header li a {
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #060A24;
  text-transform: uppercase;
  line-height: 28px;
}

@media only screen and (max-width: 320px) {
  .header {
    display: block;
    height: auto;
  }
  .header .nav--header {
    display: none;
    margin: 0;
    padding-top: 16px;
    width: 100%;
    height: 224px;
    background-color: #0000EC;
  }
  .header .nav--header ul {
    width: 320px;
    height: auto;
    margin: 0px 0 0 16px;
    padding: 0;
  }
  .header .nav--header ul li {
    display: block;
    margin: 0 0 24px 0;
  }
  .header .nav--header ul li a {
    color: #ffff;
    font-size: 1em;
  }
  .header .logo {
    margin: 0;
    display: flex;
    height: 44px;
    justify-content: space-between;
  }
  .header .logo img {
    margin-top: 10px;
    margin-left: 16px;
    height: 24px;
    width: 24px;
  }
  .header .logo i {
    margin: 16px 19px;
    display: block;
    width: 18px;
    height: 12px;
    color: black;
  }
}
.container-home__information {
  margin: 120px 0 5px 200px;
}
.container-home__information h1 {
  margin: 0;
  font-size: 4em;
}
.container-home__information .line-through {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.container-home__information .point {
  color: #0000EC;
}
.container-home__information p {
  width: 628px;
  height: 48px;
  margin: 0;
}
.container-home__information--btn {
  width: 226px;
  height: 56px;
  font-size: 1.125em;
  text-transform: uppercase;
  border: none;
  background-color: #00F3BB;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 56px;
}

@media only screen and (max-width: 320px) {
  .container-home__information {
    margin: 29px 16px 24px 16px;
  }
  .container-home__information h1 {
    font-size: 2.25em;
  }
  .container-home__information p {
    margin-top: 16px;
    width: 288px;
    height: 66px;
    line-height: 22px;
    font-size: 0.875em;
  }
  .container-home__information--btn {
    width: 288px;
    height: 48px;
    font-size: 1em;
  }
}
.container-home__video {
  width: 100%;
  height: 1042.6px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.container-home__video h2 {
  margin: 26px 0 26px 200px;
  color: #ffff;
  font-size: 3em;
}
.container-home__video .grid-media {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 584px);
  grid-template-rows: repeat(2, 232px);
  grid-gap: 72px;
  margin-bottom: 72.6px;
}
.container-home__video .grid-media iframe {
  width: 100%;
  height: 100%;
}
.container-home__video .clip-path-dowm {
  position: relative;
  background-color: #ffff;
  width: 100%;
  height: 160.5px;
  -webkit-clip-path: polygon(100% 100%, 101% 0, 0 100%);
          clip-path: polygon(100% 100%, 101% 0, 0 100%);
  display: block;
  background-image: #ffff;
}

.clip-path-up {
  position: relative;
  background-color: #ffff;
  width: 100%;
  height: 160.5px;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
  display: block;
}

@media only screen and (max-width: 320px) {
  .container-home__video {
    width: 100%;
    height: 1203.5px;
  }
  .container-home__video h2 {
    width: 157px;
    height: 42px;
    margin: 24px 0 21px 16px;
    line-height: 42px;
    font-size: 2.25em;
  }
  .container-home__video .grid-media {
    width: 298px;
    margin: 0 auto;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 225px);
    grid-gap: 0;
    grid-row-gap: 11px;
    margin-bottom: 103.5px;
  }
  .container-home .clip-path-up {
    height: 40px;
  }
  .container-home .clip-path-dowm {
    height: 40px;
  }
}

.article-introduction {
  width: 100%;
  display: flex;
  height: auto;
}
.article-introduction .container-imagen {
  height: 491.4px;
}
.article-introduction .container-imagen img {
  position: relative;
  width: 467.6px;
  height: 660px;
  margin-left: 200px;
  top: -168.6px;
}
.article-introduction__description {
  margin-left: 62.4px;
  height: 491.4px;
}
.article-introduction__description h2 {
  margin: 20.4px 0 24px 0;
  font-size: 3em;
}
.article-introduction__description p {
  margin: 0;
  width: 464px;
  height: 204px;
  font-size: 1em;
}

@media only screen and (max-width: 320px) {
  .article-introduction {
    height: auto;
    flex-direction: column;
  }
  .article-introduction .container-imagen {
    height: 424px;
  }
  .article-introduction .container-imagen img {
    width: 100%;
    height: 519px;
    margin: 0px;
    top: -95px;
  }
  .article-introduction__description {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .article-introduction__description h2 {
    margin: 27px 16px 8px;
    font-size: 2.25em;
    line-height: 42px;
  }
  .article-introduction__description p {
    margin: 0 16px 0 16px;
    width: 288px;
    height: 254px;
    font-size: 0.875em;
    line-height: 22px;
  }
}

.guest {
  width: 100%;
}
.guest h2 {
  margin: 64px 0 36px 200px;
  font-size: 3em;
}
.guest__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 480px);
  grid-template-rows: repeat(2, 364px);
}
.guest__container--imagen img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 320px) {
  .guest h2 {
    margin: 54px 16px 14px 16px;
    font-size: 2.25em;
    line-height: 42px;
  }
  .guest__container {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 243px);
  }
}

.themes h2 {
  font-size: 3em;
  margin: 64px 0px 56px 200px;
}
.themes__images-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  text-align: center;
}
.themes__images-container--images {
  height: auto;
}
.themes__images-container--images img {
  width: 104px;
  height: 104px;
  margin-bottom: 29px;
}
.themes__images-container--images h3 {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.5em;
  width: 220px;
  height: 32px;
}

@media only screen and (max-width: 320px) {
  .themes h2 {
    width: 288px;
    height: 84px;
    margin: 0 auto;
    margin-top: 48px;
    font-size: 30px;
    line-height: 42px;
  }
  .themes__images-container {
    margin-top: 37px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 36px;
  }
  .themes--images img {
    margin-bottom: 0;
  }
  .themes--images h3 {
    width: 288px;
    margin: 13px auto;
    margin-bottom: 0;
    font-size: 1.5em;
  }
}
.news {
  width: 100%;
  height: 518px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  margin-top: 34px;
  text-align: center;
}
.news h2 {
  height: 62px;
  margin: 53px auto;
  margin-bottom: 36px;
  font-size: 3em;
  color: #ffff;
}
.news__btn {
  width: 345px;
  height: 56px;
  background-color: #00F3BB;
  color: #060A24;
  font-size: 1.125em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border: none;
}