.guest {
  width: 100%;
  h2 {
    margin: 64px 0 36px 200px;
    font-size: $font-subtitle-desktop;
    font-family: $font-family-title;
    font-weight: 400;

  }
  &__container {
    width: 100%;
    @include display-grid;
    @include grid-template-columns(repeat(3, 480px));
    @include grid-template-rows(repeat(2, 364px));
    &--imagen {
      img {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
    }
  }
}

.guest {
  @include media(mobile) {
    h2 {
      margin: 54px 16px 14px 16px;
      font-size: $font-subtitle-mobile;
      line-height: 42px;
    font-family: $font-family-title;

    }
    &__container {
      width: 100%;
      @include grid-template-columns(repeat(1, 100%));
      @include grid-template-rows(repeat(6, 243px));
    }
  }
}
