.container-home {
  &__video {
    width: 100%;
    height: 1042.6px;
    @include gradient;
    h2 {
      margin: 26px 0 26px 200px;
      color: $color-claro;
      font-size: $font-subtitle-desktop;
    }
    .grid-media{
      width: 1240px;
      margin: 0 auto;
      @include display-grid;
      @include grid-template-columns(repeat(2, 584px));
      @include grid-template-rows(repeat(2, 232px));
      grid-gap: 72px;
      margin-bottom: 72.6px;
    }
    .grid-media__item1{
      background-image: url('/img/embed1.png');
    }
    .grid-media__item2{
      background-image: url('/img/embed2.png');
      
    }
    .grid-media__item3{
      background-image: url('/img/embed3.png');
      
    }
    .grid-media__item4{
      background-image: url('/img/embed4.png');
      
    }
    .clip-path-dowm {
      background-color: $color-claro;
      width: 101%;
      height: 160.5px;
      clip-path: polygon(100% 100%, 100% 0, 0 100%);
      
    }
  }
}
.clip-path-up {
  background-color: $color-claro;
  width: 100%;
  height: 160px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}


.container-home{
  @include media(mobile){
    &__video{
      width: 100%;
      height: 1203.5px;
      h2{
        width: 157px;
        height: 42px;
        margin: 24px 0 21px 16px;
        line-height: 42px;
        font-size: $font-subtitle-mobile;
      }

    
      .grid-media{
        width: 298px;
        margin: 0 auto;
        @include grid-template-columns(repeat(1, 100%));
        @include grid-template-rows(repeat(4, 225px));
        grid-gap: 0;
        grid-row-gap: 11px;
        margin-bottom: 103.5px;
      }
      .grid-media__item1{
        background-image: url('/img/embed1_.png');
      }
      .grid-media__item2{
        background-image: url('/img/embed2_.png');
        
      }
      .grid-media__item3{
        background-image: url('/img/embed3_.png');
        
      }
      .grid-media__item4{
        background-image: url('/img/embed1_.png');
        
      }
    }
    .clip-path-up, .clip-path-dowm {
      height: 40px;
    }
    
  }
}