.container-home__video {
  width: 100%;
  height: 1042px;
  padding-top: 186px;
  position: relative;
  &--clip-path {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
    @include gradient;
    z-index: -1;
  }
  h2 {
    margin: 0 0 26px 200px;
    color: $color-claro;
    font-size: $font-subtitle-desktop;
    font-weight: 400;
    font-family: $font-family-title;
  }
  .grid-media {
    @include display-grid;
    @include grid-template-columns(repeat(2, 584px));
    @include grid-template-rows(repeat(2, 232px));
    grid-gap: 72px;
    margin: 0 auto;
    .grid-media__item iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@include media(mobile) {
  .container-home__video {
    height: 1203.5px;
    padding-top: 64px;
    &--clip-path {
      clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 3%);
    }
    h2 {
      width: 157px;
      height: 42px;
      margin: 0 0 21px 16px;
      line-height: 42px;
      font-size: $font-subtitle-mobile;
    }
    .grid-media {
      width: 298px;
      @include grid-template-columns(repeat(1, 100%));
      @include grid-template-rows(repeat(4, 225px));
      grid-gap:0;
      grid-row-gap: 11px;
      .grid-media__item iframe {
        width: 100%;
        height: 225px;
      }
    }
  }
}
